<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32678473696-knt55p50ebssdv6e3u01svgj9cv5679b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32678473696-knt55p50ebssdv6e3u01svgj9cv5679b</string>
	<key>API_KEY</key>
	<string>AIzaSyCEesP8K9jnLp_fEDwV6pIRaI_zWBGpErw</string>
	<key>GCM_SENDER_ID</key>
	<string>32678473696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.germanhernandez.JustEatClone</string>
	<key>PROJECT_ID</key>
	<string>justeatclone</string>
	<key>STORAGE_BUCKET</key>
	<string>justeatclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32678473696:ios:24c7c9c039dde92b</string>
	<key>DATABASE_URL</key>
	<string>https://justeatclone.firebaseio.com</string>
</dict>
</plist>